@import '../../variables.scss';

/* ---------------------------------------- */
/* ==                HEADER                */
/*---------------------------------------- */
.nav {
	display: flex;
	left: 20%;
	justify-content: space-evenly;
	width: 80%;
	@include desktop-breakpoint {
		justify-content: space-between;
		width: 70%;
	}
	&-active {
		text-decoration: underline;
	}
	&-wrapper {
		z-index: 2;
		position: fixed;
		top: 0;
		width: 100%;
		height: 5.6875rem;
		background: #020203;
		img {
			width: 22%;
			height: 3.75rem;
			@include desktop-breakpoint {
				width: 15%;
			}
		}
		a {
			@include desktop-breakpoint {
				width: 15%;
			}
		}
	}
	&-link,
	&-active {
		color: #ffffff;
		font-size: 1.5rem;
		font-weight: 500;
	}
}
